# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://pwdcmawzdozifixwxuoq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB3ZGNtYXd6ZG96aWZpeHd4dW9xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjM0ODE4NDIsImV4cCI6MjAzOTA1Nzg0Mn0.mFmTdDA4t0MHezVOwlywyEpyIHyHq4wWt62ufDGUbLc
DATABASE_URL="postgres://postgres.pwdcmawzdozifixwxuoq:kpBaM7AHYo01ZjU6@aws-0-aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1" # Set this to the Transaction connection pooler string you copied in Step 1
DIRECT_URL="postgres://postgres.pwdcmawzdozifixwxuoq:kpBaM7AHYo01ZjU6@aws-0-us-east-1.pooler.supabase.com:5432/postgres"  # Set this to the Session connection pooler string you copied in Step 1